.portfolio
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 2rem
  color: white
  background: #fffefed8
  &__title
    color: black
    .highlight
      color: #53b2ff
