$width: 60px
$padding: 7px
$height: $width / 2 + $padding

.toggle-theme
    top: 10px
    right: 10px
    cursor: pointer
    padding: 10px
    margin: 13px
    background: #80808029
    border-radius: 100%

    .material-icons
        font-size: 2.5rem
        transition: color 0.5s ease-in-out

        &.light
            color: white

        &.dark
            color: black

.portfolio
    height: 100%
    width: 100%
    background-image: var(--mainBackground)
    transition: all 1s ease-in-out
    background-size: cover

    .intro
        height: 100%
        width: 100%
        display: flex
        flex-direction: column

        &__1
            flex: 1
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column

            .title
                color: var(--titleColor)
                font-size: 3.4rem
                font-weight: 600
                padding: 20px
                transition: all 1s ease-in-out

            .short-desc
                font-size: 1.8rem
                color: var(--titleColor)
                transition: all 1s ease-in-out

        &__2
            flex: 0.5
            display: flex
            justify-content: center
            align-items: center

            .image-container
                width: 100%
                height: 90%
                display: flex
                justify-content: center
                align-items: flex-end
                flex-wrap: wrap

                img
                    clip-path: circle()
                    height: 5em
                    margin: 10px
                    transition: margin 0.5s ease-in-out

                    &:hover
                        margin: 20px 10px

                        // animation: 10s linear rotate infinite

    .sections
        width: 100%

        // background-image: var(--texturedBackground)
        background: var(--sectionBackground)
        background-repeat: round
        transition: all 0.5s ease-in-out

        .content
            padding: 10px
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            width: 100%

            .card
                width: 90%
                box-shadow: var(--cardBoxShadow)
                background: var(--cardBackground)
                border-radius: 8px
                transition: all 0.5s ease-in-out
                display: flex
                flex-direction: column
                margin: 20px
                padding: 10px

                &__title
                    flex: 2
                    display: flex
                    align-items: center
                    color: var(--title)
                    border-bottom: 1px solid var(--border)

                    .companyImage
                        margin: 10px

                    .companyName
                        align-items: center
                        display: flex

                &__content
                    flex: 6
                    padding: 20px

                &__footer
                    flex: 2
                    min-height: 70px
                    display: flex
                    align-items: center
                    border-top: 1px solid var(--border)

        .heading
            height: 65px
            color: white
            padding: 20px
            display: flex
            align-items: center
            font-size: 2rem
            position: sticky
            z-index: 1
            top: 0
            text-indent: 20px

            // box-shadow: var(--sideBarBoxShadow)

.image-container
    width: 100%
    height: 90%
    display: flex
    justify-content: center
    align-items: flex-end
    flex-wrap: wrap

    img
        clip-path: circle()
        height: 3em
        margin: 10px

        &:hover
            // animation: 5s linear rotate infinite

.skill-icons
  width: 100%
  height: 90%
  display: flex
  justify-content: flex-start
  align-items: flex-end
  flex-wrap: wrap
  .icon-container
    height: 8em
    width: 8em
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 1px 1px 6px 0px #e8e0e0
    margin: 20px 8px
    transition: 0.5s all
    &:hover
      opacity: 0.7
      background: #8896dc
      img
        height: 7em
    img
      clip-path: circle()
      height: 5em
      margin: 10px
      transition: 0.5s all


.text
    padding: 10px
    font-size: 1.4rem
    line-height: 1.6em
    color: var(--cardTextColor)

.emphasize
    font-size: 1.6rem
    font-weight: 400

#about
    .heading
        background: var(--color-about)

#projects
    .heading
        background: var(--color-projects)

#experience
    .heading
        background: var(--color-experience)

#skills
    .heading
        background: var(--color-skills)

#education
    .heading
        background: var(--color-education)

#awards
    .heading
        background: var(--color-awards)

#contact
    height: 100%
    width: 100%

    .heading
        background: var(--color-contact)

@keyframes rotate
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(360deg)

@media screen and (max-width: 900px)
    .image-container
        img
            height: 3em !important

@media screen and (max-width: 700px)
    .heading
      position: static !important
