<div class="portfolio">
  <div class="intro">
    <div class="intro__1">
      <div class="title">Hi! I'm Sakshay Phanda.</div>
      <div class="short-desc">Frontend Developer</div>
    </div>
    <div class="intro__2">
      <div class="image-container">
        <img src="../../../../assets/angular-circle.png">
        <img src="../../../../assets/javascript.svg">
        <img src="../../../../assets/typescript.png">
        <img src="../../../../assets/jquery.png">
        <img src="../../../../assets/html.jpg">
        <img src="../../../../assets/sass.png">
        <img src="../../../../assets/css.png">

      </div>
    </div>
  </div>

  <div class="sections" id="about">
    <div class="heading">About</div>
    <div class="content">
      <p class="text emphasize">
        I'm a passionate Frontend developer with an Industry experience of building web applications.<br> I specialise
        in Javascript
        and have experience working with Angular.
      </p>

      <ul class="text">
        <p>I've worked on various Angular and Android projects(Self and Team) such as:</p>
        <li>SuperMart: An E-commerce website developed using Angular framework and Firebase.</li>
        <li>BVICAM Android app: Students can access the notes, syllabus, Add friends, timeline etc
          within
          a single app</li>
        <li>Materialistic wallpapers: Personalises the look and feel of the Android device with the amazing
          collection
          of high resolution wallpapers</li>
        <li>And more..</li>
        I have a potential to work as a team member, to listen and follow according to the task assigned to me.
      </ul>

      <p class="text">Specialities: Angular, Javascript/Typescript, HTML, CSS/SASS, jQuery, Firebase, Android using
        Core Java</p>

      <p class="text">Current Focus: Frontend development using Angular</p>
    </div>
  </div>


  <div class="sections" id="experience">
    <div class="heading">Experience</div>
    <div class="content">
      <ng-container *ngFor="let exp of experiences">
        <div class="card">
          <div class="card__title">
            <div class="companyName text emphasize">
              <span class="companyImage material-icons">
                account_circle
              </span> HowTechWorx</div>
          </div>
          <div class="card__content">

            <ul class="text">
              <p>I've worked on various Angular and Android projects(Self and Team) such as:</p>
              <li>SuperMart: An E-commerce website developed using Angular framework and Firebase.</li>
              <li>BVICAM Android app: Students can access the notes, syllabus, Add friends, timeline etc
                within
                a single app</li>
              <li>Materialistic wallpapers: Personalises the look and feel of the Android device with the amazing
                collection
                of high resolution wallpapers</li>
              <li>And more..</li>
              I have a potential to work as a team member, to listen and follow according to the task assigned to me.
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>


  <div class="sections" id="projects">
    <div class="heading">Projects</div>
    <div class="content">
            <ng-container *ngFor="let exp of experiences">
        <div class="card">
          <div class="card__title">

            <div class="companyName text emphasize">
              <span class="companyImage material-icons">
                account_circle
              </span> HowTechWorx</div>
          </div>
          <div class="card__content">

            <ul class="text">
              <p>I've worked on various Angular and Android projects(Self and Team) such as:</p>
              <li>SuperMart: An E-commerce website developed using Angular framework and Firebase.</li>
              <li>BVICAM Android app: Students can access the notes, syllabus, Add friends, timeline etc
                within
                a single app</li>
              <li>Materialistic wallpapers: Personalises the look and feel of the Android device with the amazing
                collection
                of high resolution wallpapers</li>
              <li>And more..</li>
              I have a potential to work as a team member, to listen and follow according to the task assigned to me.
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>


  <div class="sections" id="skills">
    <div class="heading">Skills</div>
    <div class="content">
            <ng-container *ngFor="let exp of experiences">
        <div class="card">
          <div class="card__title">

            <div class="companyName text emphasize">
              <span class="companyImage material-icons">
                account_circle
              </span> HowTechWorx</div>
          </div>
          <div class="card__content">

            <ul class="text">
              <p>I've worked on various Angular and Android projects(Self and Team) such as:</p>
              <li>SuperMart: An E-commerce website developed using Angular framework and Firebase.</li>
              <li>BVICAM Android app: Students can access the notes, syllabus, Add friends, timeline etc
                within
                a single app</li>
              <li>Materialistic wallpapers: Personalises the look and feel of the Android device with the amazing
                collection
                of high resolution wallpapers</li>
              <li>And more..</li>
              I have a potential to work as a team member, to listen and follow according to the task assigned to me.
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="sections" id="awards">
    <div class="heading">Awards</div>
    <div class="content">
            <ng-container *ngFor="let exp of experiences">
        <div class="card">
          <div class="card__title">

            <div class="companyName text emphasize">
              <span class="companyImage material-icons">
                account_circle
              </span> HowTechWorx</div>
          </div>
          <div class="card__content">

            <ul class="text">
              <p>I've worked on various Angular and Android projects(Self and Team) such as:</p>
              <li>SuperMart: An E-commerce website developed using Angular framework and Firebase.</li>
              <li>BVICAM Android app: Students can access the notes, syllabus, Add friends, timeline etc
                within
                a single app</li>
              <li>Materialistic wallpapers: Personalises the look and feel of the Android device with the amazing
                collection
                of high resolution wallpapers</li>
              <li>And more..</li>
              I have a potential to work as a team member, to listen and follow according to the task assigned to me.
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="sections" id="education">
    <div class="heading">Education</div>
    <div class="content">
            <ng-container *ngFor="let exp of experiences">
        <div class="card">
          <div class="card__title">

            <div class="companyName text emphasize">
              <span class="companyImage material-icons">
                account_circle
              </span> HowTechWorx</div>
          </div>
          <div class="card__content">

            <ul class="text">
              <p>I've worked on various Angular and Android projects(Self and Team) such as:</p>
              <li>SuperMart: An E-commerce website developed using Angular framework and Firebase.</li>
              <li>BVICAM Android app: Students can access the notes, syllabus, Add friends, timeline etc
                within
                a single app</li>
              <li>Materialistic wallpapers: Personalises the look and feel of the Android device with the amazing
                collection
                of high resolution wallpapers</li>
              <li>And more..</li>
              I have a potential to work as a team member, to listen and follow according to the task assigned to me.
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="sections" id="contact">
    <div class="heading">Contact</div>
    <div class="content">
            <ng-container *ngFor="let exp of experiences">
        <div class="card">
          <div class="card__title">

            <div class="companyName text emphasize">
              <span class="companyImage material-icons">
                account_circle
              </span> HowTechWorx</div>
          </div>
          <div class="card__content">

            <ul class="text">
              <p>I've worked on various Angular and Android projects(Self and Team) such as:</p>
              <li>SuperMart: An E-commerce website developed using Angular framework and Firebase.</li>
              <li>BVICAM Android app: Students can access the notes, syllabus, Add friends, timeline etc
                within
                a single app</li>
              <li>Materialistic wallpapers: Personalises the look and feel of the Android device with the amazing
                collection
                of high resolution wallpapers</li>
              <li>And more..</li>
              I have a potential to work as a team member, to listen and follow according to the task assigned to me.
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>
