<div [@slide]="state ? 'true' : 'false'" class="portfolio">
  <div class="intro">
    <div class="intro__1">
      <div
        [@fade]="'first'"
        (@fade.start)="imageStaggerStart($event)"
        (@fade.done)="imageStaggerDone($event)"
        class="title"
      >
        Hey there. I'm Sakshay
      </div>
      <div [@fade]="shortDesc" class="short-desc">Fullstack Developer</div>

      <label
        class="toggle-theme"
        title="Enable {{ mode }} mode"
        (click)="toggleDarkMode()"
      >
        <span class="material-icons {{ mode.toLowerCase() }}">
          {{ darkModeEnabled ? "wb_sunny" : "nights_stay" }}
        </span>
      </label>
    </div>
    <div class="intro__2">
      <div [@stagger2] class="image-container">
        <ng-container *ngFor="let image of imagePaths">
          <img [src]="image" />
        </ng-container>
      </div>
    </div>
  </div>

  <div class="sections" id="about">
    <div class="heading">About</div>
    <div class="content">
      <div class="card">
        <p class="text emphasize">
          Sakshay is a passionate Software Developer with an Industry experience of
          building web applications.<br /><br />
          He specialises in Javascript and have experience working with Angular.
        </p>

        <p class="text">
          Specialities: Angular, Javascript/Typescript, HTML, CSS/SASS, jQuery,
          Firebase, Android using Core Java
        </p>

        <p class="text">Current Focus: Frontend development using Angular</p>
      </div>
    </div>
  </div>

  <div class="sections" id="skills">
    <div class="heading">Skills</div>
    <div class="content">
      <ng-container *ngFor="let skill of skills">
        <div class="card">
          <div class="card__title">
            <div class="companyName text emphasize">
              <span class="companyImage material-icons"> bar_chart </span>
              {{ skill.name }}
            </div>
          </div>
          <div class="skill-icons">
            <ng-container *ngFor="let image of skill.icons">
              <div class="icon-container">
              <img [title]="image.name" [src]="image.url" />
            </div>
            </ng-container>
          </div>
          <!-- <div class="card__content text" [innerHTML]="skill.innerHTML"></div> -->
        </div>
      </ng-container>
    </div>
  </div>

  <div class="sections" id="experience">
    <div class="heading">Experience</div>
    <div class="content">
      <ng-container *ngFor="let experience of experiences">
        <div class="card">
          <div class="card__title">
            <div class="companyName text emphasize">
              <span class="companyImage material-icons"> work </span>
              {{ experience.companyName }}
            </div>
          </div>
          <div
            class="card__content text"
            [innerHTML]="experience.innerHTML"
          ></div>
          <div class="card__footer">
            <div class="duration text">
              <span class="companyImage material-icons"> show_chart </span>
              {{ experience.duration }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="sections" id="projects">
    <div class="heading">Projects</div>
    <div class="content">
      <ng-container *ngFor="let project of projects">
        <div class="card">
          <div class="card__title">
            <div class="companyName text emphasize">
              <span class="companyImage material-icons"> developer_board </span>
              {{ project.projectName }}
            </div>
          </div>
          <div class="card__content text" [innerHTML]="project.innerHTML"></div>
          <div class="card__footer" *ngIf="project.link">
            <a class="duration text" [href]="project.link" target="_blank">
              {{ project.link }}
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="sections" id="awards">
    <div class="heading">Awards</div>
    <div class="content">
      <div class="card">
        <div class="card__title">
          <div class="companyName text emphasize">
            <span class="companyImage material-icons"> star </span> Letter of
            Appreciation
          </div>
        </div>
        <div class="card__content text">
          Received a letter of Appreciation from the College faculty for
          developing the official BVICAM app and for being a part of Android
          core team
        </div>
      </div>
    </div>
  </div>

  <div class="sections" id="education">
    <div class="heading">Education</div>
    <div class="content">
      <ng-container *ngFor="let education of education">
        <div class="card">
          <div class="card__title">
            <div class="companyName text emphasize">
              <span class="companyImage material-icons"> menu_book </span>
              {{ education.companyName }}
            </div>
          </div>
          <div
            class="card__content text"
            [innerHTML]="education.innerHTML"
          ></div>
          <div class="card__footer">
            <div class="duration text">
              <span class="companyImage material-icons"> show_chart </span>
              {{ education.duration }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="sections" id="contact">
    <div class="heading">Contact</div>
    <div class="content">
      <div class="card">
        <div class="card__content text">
          <p>Email: sakshayphanda03@gmail.com</p>
          <br />
          <p>
            Linkedin:
            <a
              class="text"
              target="_blank"
              href="https://www.linkedin.com/in/sakshayphanda"
              >https://www.linkedin.com/in/sakshayphanda</a
            >
          </p>
          <br />
          <p>
            Github:
            <a target="_blank"
            class="text" href="https://github.com/sakshayphanda"
              >https://github.com/sakshayphanda
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
