
.portfolio
  height: 100%
  width: 100%
  position: relative
  .bg
    height: 100%
    width: 100%
    position: absolute
    z-index: 1
  .intro
    height: 100%
    width: 100%
    z-index: 2
    align-items: top
    justify-content: center
    position: relative
    display: flex
    &__1
      flex: 1
      img
        height: 20%

      .title
        color: white
        font-size: 3em
        font-weight: 600
        padding: 20px

    &__2
      flex: 1
      display: flex
      align-items: center
      justify-content: center
      .js
        height: 10%
        margin-bottom: 50px
      .angular
        height: 8%
        margin: 0 25px 40px 36px

  .section
    width: 100%


.heading
  height: 50px
  color: white
  padding: 20px
  display: flex
  align-items: center
  font-size: 2em
  background: #c000f0
.content
  padding: 10px

