
.portfolio
  height: 100vh
  width: 100vw
  position: relative
  &__bg-1
    position: absolute
    width: 100%
    height: 100%
    z-index: 1
    background: #5276ff
  &__bg-2
    position: absolute
    right: -284px
    z-index: 1
    top: -23px
    height: 97%
    background: white
    width: 740px
    border-radius: 200px
    transform: rotate(43deg)

