.side-navigation
  color: white
  background: #ffffff
  width: 190px
  z-index: 2
  position: absolute
  display: flex
  justify-content: center
  -webkit-box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  -moz-box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  top: 0
  height: 100vh

.dynamic
  width: calc(100vw - 190px)
  height: 100vh
  background: var(--dynamicBackground)
  overflow-x: hidden
  z-index: 0
  position: absolute
  bottom: 0
  right: 0
