.side-navigation
  color: white
  background: #ffffff
  width: 220px
  z-index: 2
  position: absolute
  display: flex
  justify-content: center
  -webkit-box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  -moz-box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  top: 0
  height: 100vh

.dynamic
  width: calc(100vw - 220px)
  height: 100vh
  background: var(--dynamicBackground)
  overflow-x: hidden
  z-index: 0
  position: absolute
  bottom: 0
  right: 0


@media screen and (max-width: 900px)
  .side-navigation
    top: 90px
    height: calc(100vh - 70px)

  .dynamic
    width: 100vw
    height: calc(100vh - 90px)



@media screen and (max-width: 500px)
  .dynamic
    padding: 80px 20px 10px 20px!important
