\:host
  width: 100%

.container
  display: flex
  flex-direction: column
  height: 100%
  .action
    margin: 0
    color: var(--title)
    height: 40px
    padding: 20px
    cursor: pointer
    display: flex
    align-items: center
    &.selected
      border-left: 6px solid var(--primary)
      background: #eff7ff
    .material-icons
      margin: 5px
  .image-container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border-bottom: 1px solid var(--border)
    padding: 20px
    img
      width: 50%
      clip-path: circle()
      margin: 10px 0
    .email
      font-size: 2.5rem
      color: var(--title)
      margin: 10px 0
      font-weight: 100
    .short-desc
      font-size: 1.3rem
      font-weight: 100
      color: var(--title)

