\:host
  width: 100%

.container
  display: flex
  flex-direction: column
  height: 100%
  .action
    margin: 0
    color: var(--title)
    height: 40px
    padding: 20px
    cursor: pointer
    &.selected
      border-left: 3px solid var(--primary)
  .image-container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    img
      width: 50%
      clip-path: circle()
      margin: 10px 0
    .email
      font-size: 1.1rem
      font-weight: 600
      color: grey
      margin: 10px 0

