\:host
  width: 100%

.container
  display: flex
  flex-direction: column
  height: 100%
  .action
    margin: 0
    color: var(--sideBarTextColor)
    height: 50px
    padding: 20px
    cursor: pointer
    display: flex
    align-items: center
    &.selected
      background: #eff7ff33
      font-weight: 600
    .material-icons
      margin: 5px
  .image-container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border-bottom: 1px solid var(--border)
    padding: 20px
    img
      width: 50%
      clip-path: circle()
      margin: 10px 0
    .email
      font-size: 1.9rem
      color: var(--sideBarTextColor)
      margin: 10px 0
      font-weight: 100
    .short-desc
      font-size: 1rem
      font-weight: 100
      color: var(--sideBarTextColor)


.about
  color: var(--color-about)

.projects
  color: var(--color-projects)

.experience
  color: var(--color-experience)


.skills
  color: var(--color-skills)

.education
  color: var(--color-education)

.awards
  color: var(--color-awards)

.contact
  color: var(--color-contact)


.aboutSelected
  border-left: 6px solid var(--color-about)

.projectsSelected
  border-left: 6px solid var(--color-projects)

.experienceSelected
  border-left: 6px solid var(--color-experience)

.skillsSelected
  border-left: 6px solid var(--color-skills)

.educationSelected
  border-left: 6px solid var(--color-education)

.awardsSelected
  border-left: 6px solid var(--color-awards)

.contactSelected
  border-left: 6px solid var(--color-contact)

